:root {
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


.main-btn {
    margin-top: 20px; /* Adds space above the button */
    margin-bottom: 20px; /* Adds space below the button */
    border-radius: 30px;
    color: var(--color-white);
    font-weight: 600;
    display: inline-flex; /* Properly aligns content horizontally */
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    padding: 10px 20px;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-secondary); /* Using the vibrant secondary color */
    transition: all 0.4s ease-out;
    cursor: pointer; /* Indicates it's clickable */
    position: relative; /* For pseudo-element positioning */
}


/* Body and container styling */
body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

/* Section styling */
.section {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.section h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2em;
    border-bottom: 3px solid #00aaff;
    padding-bottom: 10px;
}

.section p {
    margin-bottom: 20px;
}

.section img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

a {
    color: #00aaff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Button styling */
button {
    background-color: #00aaff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0088cc;
}

/* Ensure text is below images */
img + p {
    margin-top: 20px;
}
